{% load staticfiles %}

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# <a class="navbar-brand" href="{% url 'posts:list' %}"><img src="{% static 'img/mvp_landing_logo.png' %}" /></a>#}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'posts:list' %}">Blog</a></li>
                <li><a href="{% url 'games:games' %}">Games</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">360° <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'threed:detail' 'merkava' %}">Merkava</a></li>
                <!-- <li><a href="{% url 'threed:detail' 'tiger-i' %}">Tiger I</a></li> -->
                <!-- <li><a href="{% url 'threed:detail' 'sherman' %}">Sherman</a></li> -->
                </ul>
                </li>
                <li><a href="{% url 'wallpapers:wallpapers' %}">Wallpapers</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'posts:create' %}">Create new Post</a></li>
                <li><a href="{% url 'games:create' %}">Add new Game</a></li>
                <li><a href="{% url 'threed:create' %}">Add new 360°</a></li>
                <li><a href="{% url 'wallpapers:create' %}">Add new Wallpaper</a></li>
                {% endif %}


            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
