{% extends "base.html" %}
{% load embed_video_tags %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<div class="col-sm-6 col-sm-offset-2">
    {% if instance.video_url %}
        {% video instance.video_url as my_video %}
            {% video my_video 'small' %}
        {% endvideo %}
    {% elif instance.image %}
        <img src="{{ instance.image.url }}" class="img-responsive" />
    {% endif %}

    <h1>
        {{ instance.title }}
        <br />
        <small>{% if instance.draft %}<span style="color:red;">Draft |</span>{% endif %}
        {% if instance.publish > today %}Future Post{% endif %} {{ instance.publish }}</small>

        {% if request.user.is_authenticated %}
            <a href="{{ instance.get_absolute_url }}edit" class="btn btn-primary" role="button">Edit</a>
            <a href="{{ instance.get_absolute_url }}delete" class="btn btn-primary" role="button">Delete</a>
        {% endif %}
    </h1>

    <!-- Facebook like and share -->
    <p>
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    </p>

    <hr />
        <div class="row">
            <div class="col-sm-12">
                <p>
                    {{ instance.content|linebreaks }}
                </p>
                <hr />
                <br />
                {% if instance.category %}
                    <p>{{ instance.category }}</p>
                {% else %}
                    <p>
                        Nera kategorijos
                    </p>
                {% endif %}
            </div>
        </div>
    <!-- Facebook comments-->
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

</div>
{% endblock content %}
