{% extends "base.html" %}
{% load embed_video_tags %}

{% block content %}
    <h1>Welcome to 4aWar blog</h1>
    <h3>Category: {{ title }}</h3>
    <hr />
    <div class="row">
        <div class="col-md-8">
            {% for obj in posts %}
                <h2>
                    <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                </h2>
                <p>
                    <span class="glyphicon glyphicon-time"></span> {{ obj.publish }}
                    {% if obj.video_url %}
                        <small> | VIDEO inside a post</small>
                    {% endif %}
                </p>

                {% if obj.video_url %}
                    {% video obj.video_url as my_video %}
                        <img src="{{ my_video.thumbnail }}" class="img-responsive" />
                        {# {% video my_video 'small' %}#}
                    {% endvideo %}
                {% elif obj.image %}
                    <img src="{{ obj.image.url }}" class="img-responsive" />
                {% endif %}

                {% if obj.draft %}<h3 style="color:red;">Staff only: Draft | {% if obj.publish > today %}Future Post{% endif %}</h3>{% endif %}
                <p>{{ obj.content|safe|truncatechars:120 }}</p>
                <br />
                {% if obj.categories %}
                    {% for category in obj.categories.all %}
                        <a href="{{ category.get_absolute_url }}">{{ category }}{% if obj.categories.count > 1 %} | {% endif %}</a>
                    {% endfor %}
                {% endif %}
                <br />
                <br />
                <p>
                    <a class="btn btn-primary" href="{{ obj.get_absolute_url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                    {% if request.user.is_authenticated %}
                        <a href="{{ obj.get_absolute_url }}edit" class="btn btn-primary" role="button">Edit</a>
                        <a href="{{ obj.get_absolute_url }}delete" class="btn btn-primary" role="button">Delete</a>
                    {% endif %}
                </p>
                <hr/>
            {% endfor %}

            {% include 'pager.html' %}
        </div><!-- col-md-8 -->

        {% include 'sidebar.html' %}
    </div><!-- main row -->
{% endblock content %}
