{% extends "base.html" %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <!-- Title -->
            <h1>{{ instance.title }}</h1>
            <hr>
            {% if instance.image %}
                <a href="{{ instance.image.url }}" target="_blank"><img src="{{ instance.image.url }}" class="img-responsive" /></a>
            {% endif %}
            <br/>
            <!-- Post Content -->
            <label>Description:</label>
            <div>
                <p>
                    {{ instance.description|safe }}
                </p>
            </div>

            <hr/>
            <br/>
            {% if instance.categories %}
                {% for category in instance.categories.all %}
                    <a href="{{ category.get_absolute_url }}">{{ category }}{% if instance.categories.count > 1 %} | {% endif %}</a>
                {% endfor %}
            {% endif %}
            <br />
            <br />
            {% if request.user.is_authenticated %}
                <br/>
                <br/>
                <a href="{{ instance.get_absolute_url }}edit" class="btn btn-primary" role="button">Edit</a>
                <a href="{{ instance.get_absolute_url }}delete" class="btn btn-primary" role="button">Delete</a>
            {% endif %}
            <hr/>
            <!-- Facebook like and share -->
            <p>
                <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
            </p>

            <!-- Facebook comments-->
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

        </div><!-- col-lg-8 -->
        {% include 'wallpapers_sidebar.html' %}
    </div><!-- main row -->
{% endblock content %}
