{% extends "base.html" %}

{% block content %}
    <h1 class="page-header">Searching for: {{ title }}</h1>
    <br />
    <div class="row">
        <div class="col-md-8">
            {% for obj in wallpapers %}
                    {% if obj.image %}
                    <a href="{{ obj.image.url }}" target="_blank">
                        <img src="{{ obj.image.url }}" class="img-responsive" />
                    </a>
                    {% endif %}
                    <br />
                    <p>{{ obj.description|safe|truncatechars:120 }}</p>
                    <br />
                    {% if obj.categories %}
                        {% for category in obj.categories.all %}
                            <a href="{{ category.get_absolute_url }}">{{ category }}{% if obj.categories.count > 1 %} | {% endif %}</a>
                        {% endfor %}
                    {% endif %}
                    <br />
                    <br />
                    <p>
                        {% if request.user.is_authenticated %}
                            <a href="{{ obj.get_absolute_url }}edit" class="btn btn-primary" role="button">Edit</a>
                            <a href="{{ obj.get_absolute_url }}delete" class="btn btn-primary" role="button">Delete</a>
                        {% endif %}
                    </p>
                    <hr/>
            {% endfor %}

            <div class="row">
                <div class="col-md-8">
                    {% include 'pager.html' %}
                </div>
            </div>

        </div><!-- col-md-8 -->


        {% include 'wallpapers_sidebar.html' %}

    </div><!-- main row -->
{% endblock content %}
